<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
			<section name="MyAgentApp.sett" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.9.0" newVersion="2.0.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<log4net>
		<!--"If an error occurs"-->
		<appender name="error" type="log4net.Appender.RollingFileAppender">
			<file value="Log/error/error.log" />
			<staticLogFileName value="true" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="1KB" />
			<maxSizeRollBackups value="5" />
			<encoding value="unicodeFFFE" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{yyyy.MM.dd. HH:mm:ss.fff} %logger %-5level %3t %message%newline" />
			</layout>
		</appender>
		<logger name="error">
			<level value="ERROR" />
			<appender-ref ref="error" />
		</logger>
		<!--Active Checks response-->
		<appender name="response-active-checks" type="log4net.Appender.RollingFileAppender">
			<file value="Log/Active_Checks/response/response.log"/>
			<staticLogFileName value="true"/>
			<rollingStyle value="Size"/>
			<maximumFileSize value="5KB"/>
			<maxSizeRollBackups value="5"/>
			<encoding value="unicodeFFFE"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger %d{yyyy.MM.dd HH.mm.ss.} %-5level %n %m %n %n"/>
			</layout>
		</appender>
		<logger name="responseActiveChecks">
			<level value="DEBUG"/>
			<appender-ref ref="response-active-checks"/>
		</logger>
		<!--Keys of Active Checks-->
		<appender name="key-logger" type="log4net.Appender.RollingFileAppender">
			<file value="Log/Active_Checks/key/key.log"/>
			<staticLogFileName value="true"/>
			<rollingStyle value="Size"/>
			<maximumFileSize value="5KB"/>
			<maxSizeRollBackups value="5"/>
			<encoding value="unicodeFFFE"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger %d{yyyy.MM.dd HH.mm.ss.} %-5level %n %m %n %n"/>
			</layout>
		</appender>
		<logger name="keyLogger">
			<level value="DEBUG"/>
			<appender-ref ref="key-logger"/>
		</logger>
		<!--verified reply for sent value of items-->
		<appender name="verified-reply" type="log4net.Appender.RollingFileAppender">
			<file value="Log/Verified Reply for values/verified_reply.log"/>
			<staticLogFileName value="true"/>
			<rollingStyle value="Size"/>
			<maximumFileSize value="5KB"/>
			<maxSizeRollBackups value="5"/>
			<encoding value="unicodeFFFE"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger %d{yyyy.MM.dd HH.mm.ss.} %-5level %n %m %n %n"/>
			</layout>
		</appender>
		<logger name="verifiedReply">
			<level value="DEBUG"/>
			<appender-ref ref="verified-reply"/>
		</logger>
	</log4net>
</configuration>